<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Material Design for Bootstrap</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="/css/mdb.min.css" />

  <head>

   
  </head>

<body>
    <div class="container">
      <%- include('inc/top')%>

          <header>
            <!-- Animated navbar-->
            <!-- Animated navbar -->
          
            <!-- Background image -->
            <div
                 id="intro"
                 class="bg-image"
                 style="
                        background-image: url(https://mdbcdn.b-cdn.net/img/new/fluid/city/113.jpg);
                        height: 100vh;
                        "
                 >
              <div class="mask text-white" >
                <div class="container d-flex align-items-center text-center h-100">
                  <div>
                    <h1 class="mb-5">Welcome to my app</h1>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis molestiae
                      laboriosam numquam expedita ullam saepe ipsam, deserunt provident corporis,
                      sit non accusamus maxime, magni nulla quasi iste ipsa architecto? Autem!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Background image -->
          </header>
          <!--Main Navigation-->
          <%- include('inc/bottom')%>
          
</div>
<script type="text/javascript" src="/js/mdb.min.js"></script>
  
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>